<form class="{{cssClass}} item-form flexcol" autocomplete="off">
  <div class="sheet-wrapper flexcol">

    <header class="sheet-header flexrow">
      <div class="cell cell--image">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "DW.Common.Name"}}"/></h1>
      </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      <div class="resource">
        <label>{{localize "DW.Beliefs"}}</label>
	{{editor content=data.beliefs target="data.beliefs" button=true owner=owner editable=editable}}
      </div>

      <div class="resource">
        <label>{{localize "DW.Friends"}}</label>
        <input type="text" name="data.friends" value="{{data.friends}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label>{{localize "DW.Enemies"}}</label>
        <input type="text" name="data.enemies" value="{{data.enemies}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label>{{localize "DW.Signal"}}</label>
        <input type="text" name="data.signal" value="{{data.signal}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label>{{localize "DW.Response"}}</label>
        <input type="text" name="data.response" value="{{data.response}}" data-dtype="String"/>
      </div>

    </section>
  </div>
</form>
