<form class="{{cssClass}} item-form flexcol" autocomplete="off">
  <div class="sheet-wrapper flexcol">
    <header class="sheet-header flexrow">
      <div class="cell cell--image">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PW.Common.Name"}}"/></h1>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "PW.Common.Description" }}</a>
        <a class="item" data-tab="details">{{localize "PW.Common.Details" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
          <div class="resource">
            <label for="tag" class="control-label">{{localize "PW.Tags"}}</label>
            <div class="help-text"><p>{{localize "PW.TagsHelp" }}</p></div>
            <input class='tags-input-source' placeholder='write some tags' value='{{ data.tags }}'/>
          </div>
          <div class="resource">
            <label>{{localize "PW.Equipped"}}</label>
            <input type="checkbox" name="data.equipped" {{checked data.equipped}}/>
          </div>
          <div class="resource">
            <label>{{localize "PW.Quantity"}}</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label>{{localize "PW.Uses"}}</label>
            <input type="text" name="data.uses" value="{{data.uses}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label>{{localize "PW.Weight"}}</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label>{{localize "PW.ItemType"}}</label>
            <select name="data.itemType" data-dtype="String">
              {{#select data.itemType}}
              <option value="">—</option>
              <option value="weapon">{{localize "PW.Weapon"}}</option>
              <option value="armor">{{localize "PW.Armor"}}</option>
              <option value="gear">{{localize "PW.Gear"}}</option>
              <option value="drug">{{localize "PW.Drug"}}</option>
              <option value="food">{{localize "PW.Food"}}</option>
              <option value="transport">{{localize "PW.Transport"}}</option>
              <option value="bot">{{localize "PW.Bot"}}</option>
              <option value="contraband">{{localize "PW.Contraband"}}</option>
              <option value="spoils">{{localize "PW.Spoils"}}</option>
              {{/select}}
            </select>
          </div>
        </div>
    </section>
  </div>
</form>
